
{% extends 'base.html.twig' %}

{% block title %}Toutes les caves{% endblock %}

{% block body %}
  <section class="page-toutes-caves">
    <h1 class="main-title">Toutes les caves</h1>

    <form method="get" class="filters-bar">
      <div class="search-input">
        <i class="fa fa-search"></i>
        <input type="text" name="q" placeholder="Recherche une cave..." value="{{ app.request.get('q') }}">
      </div>
    
      <button type="submit" class="hidden-submit">Rechercher</button>
    </form>

    <div class="caves-grid">
      {% for cave in caves %}
        <div class="cave-card">
          <a href="{{ path('app_cave_show', { id: cave.id }) }}">
            <img src="{{ asset(cave.image ? 'uploads/caves/' ~ cave.image : 'images/placeholder-cave.png') }}" alt="{{ cave.nom }}">
            <p class="cave-title">{{ cave.nom }}</p>
          </a>
        </div>
      {% else %}
        <p>Aucune cave trouvée.</p>
      {% endfor %}
    </div>

    <div class="pagination-buttons">
    {% if pagination.currentPageNumber > 1 %}
        <a href="{{ path('app_liste_caves', query|merge({'page': pagination.currentPageNumber - 1})) }}" class="btn-pagination">
        page précédente
        </a>
    {% endif %}

    {% if pagination.currentPageNumber < pagination.pageCount %}
        <a href="{{ path('app_liste_caves', query|merge({'page': pagination.currentPageNumber + 1})) }}" class="btn-pagination">
        page suivante
        </a>
    {% endif %}
    </div>

    </div>
  </section>
{% endblock %}
