<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Acceuil{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    </head>
    <body>
        {% block navbar %}

            <nav class="navbar">
                <div class="logo">
                    <a href=""><img src="{{ asset('images/logo.png') }}" alt="MyCave Logo"></a>
                </div>

                <nav class="nav-links">
                    <a href="">Accueil</a>
                    <a href="">Les vins</a>
                    <a href="">Toutes les caves</a>
                    <a href="{{ path('app_cave_a_vin') }}">My cave</a>
                    <a href="">Contact</a>
                </nav>

                <div class="auth-links">
                    {% if app.user %}
                        <a href="">Déconnexion</a>
                    {% else %}
                        <a href="">Inscription</a>
                        <a href="">Connexion</a>
                    {% endif %}
                </div>
            </nav>
        {% endblock %}
            {% block body %}{% endblock %}
        {% block footer %}
            <footer class="site-footer">
                    <div class="footer-links">
                        <a href="#">À propos</a>
                        <a href="#">Contact</a>
                        <a href="#">Politique de confidentialité</a>
                        <a href="#">Conditions d'utilisation</a>
                    </div>
                    <div class="footer-copy">
                        &copy; {{ "now"|date("Y") }} MyCave
                    </div>
            </footer>
        {% endblock %}
    </body>
</html>
