<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Acceuil{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    </head>
    <body>
        {% block navbar %}

            <nav class="navbar">
                <div class="logo">
                    <a href=""><img src="{{ asset('images/logo.png') }}" alt="MyCave Logo"></a>
                </div>

                <nav class="nav-links">
                    <a href="{{ path('app_home') }}">Accueil</a>
                    <a href="{{ path('app_vin_listes')}}">Les vins</a>
                    <a href="{{ path('app_liste_caves')}}">Toutes les caves</a>
                    <a href="{{ path('app_cave_a_vin') }}">My cave</a>
                    <a href="">Contact</a>
                    {% if app.user %}
                        <li><a href="{{ path('app_mes_vins') }}">🍷 Mes Vins</a></li>
                    {% endif %}
                </nav>

            <div class="auth-links">
                {% if app.user %}
                    <form action="{{ path('app_logout') }}" method="post">
                        <a href="{{ path('app_logout') }}">🚪 Déconnexion</a>
                    </form>
                    <span>Bienvenue, {{ app.user.pseudo ?? app.user.email }}</span>
                {% else %}
                    <a href="{{ path('app_register') }}">Inscription</a>
                    <a href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
            </div>
            </nav>
        {% endblock %}
            {% block body %}
                        {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-message {{ label }}">
                            {{ message }}
                            </div>
                        {% endfor %}
            {% endfor %}
{% endblock %}
        {% block footer %}
            <footer class="site-footer">
                    <div class="footer-links">
                        <a href="#">À propos</a>
                        <a href="#">Contact</a>
                        <a href="#">Politique de confidentialité</a>
                        <a href="#">Conditions d'utilisation</a>
                    </div>
                    <div class="footer-copy">
                        &copy; {{ "now"|date("Y") }} MyCave
                    </div>
            </footer>
        {% endblock %}
    </body>
</html>
